@import url('https://fonts.googleapis.com/css?family=Open+Sans:200,400,700,800&display=swap');

*{
  box-sizing: border-box; 
  font-family: 'Open Sans', sans-serif;
}

.container { max-width: 1240px; padding: 0;}

.text-primary { color: #cc0d1f !important; }
.bg-primary { background: #cc0d1f !important; }
.btn-primary {
  background: #cc0d1f !important;
  border-color: #cc0d1f;
}
.text-secondary { color: #668d8a !important; }
.bg-secondary { background-color: #80bdb8 !important; }
.btn-secondary {
  background: #80bdb8 !important;
  border-color: #80bdb8;
}


.header{ height: 114px; }

.btn { border-radius: 0; }

.btn-search{
  width: 110px;
  height: 44px;
  text-transform: uppercase;
  font-weight: 900;
}

.form-control {
  height: 44px;
  min-width: 414px;
  border-color: #555;
  border-radius: 0;
}

.nav {
  width: 100%;
  max-width: 840px;
  justify-content: space-between;
}

.nav-link {
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  transition: .25s;
}

.nav-link:hover {
  color: #fffC;
}

.breadcrumb-item { font-size: 14px; }
.breadcrumb-item a { color: #000; }
.breadcrumb-item+.breadcrumb-item::before { content: ">"; }
.breadcrumb-item.active{ color: #cc0d1f; }

.aside {
  max-width: 260px;
  border: 1px solid #ddd;
  margin-right: 24px;
}

.filter {
  list-style-type: none;
  padding: 0;
  color: #6d6d6d;
}

.filter li { padding: 3px 0; }

.filter li::before {
  content: "•";
  margin-right: 6px;
}

.filter-color { 
  list-style-type: none; 
  padding: 0;
}

.filter-color li{
  display: inline-block;
  width: 48px;
  height: 24px;
  padding: 2px;
}
.filter-color li::before { content: ""; }

[data-color="red"] { background: #cc0d1f; }
[data-color="orange"] { background: #f36324; }
[data-color="ocean"] { background: #28a3aa; }

.order-section {
  height: 45px;
  padding: .5em 0;
  color: #808185;
  border: 1px solid #dddddd;
  border-left: none; border-right: none;
}

.order-views i {
  height: 18px;
  font-size: 18px;
  line-height: 18px;
  margin-right: 4px;
  vertical-align: middle  ;
}
.order-views i.active { color: #80bebb; }

.order-select label {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 6px;
}

.order-select select {
  width: 216px;
  height: 26px;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 4px;
}

.item { 
  min-width: 212px; 
  max-width: 212px;
}

.card {
  margin-top: 1.5rem;
  border: none;
}

.card-body { padding: 0;}

.card-img-top {
  max-height: 212px;
  object-fit: cover;
  border: 1px solid #dddddd;
}

.card-title {
  height: calc(1.2em * 2);
  margin: .75rem 0;
  overflow: hidden;
  text-transform: uppercase;
  text-align: center;
  word-wrap: break-word;
}

.card-price {
  color: #cc0d1f;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center;
}

.card-btn {
  width: 100%;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: .3rem;
}

.footer {
  height: 180px;
}